<% provide(:title, "Sign in") %>
<h1> Sign in </h1>
	<div class = "row" >
		<div class ="span4">
			<div id="errors">
				<%= flash[:error] %>
			</div>

			<%= form_for(:session, :url => sessions_path) do |s|%>
				
				<p>
				<%= s.label :username %>
				<%= s.text_field :username %>
				</p>

				<p>
				<%= s.label :password %>
				<%= s.password_field :password %>
				</p>
				
				<%= s.submit "Sign in", :class => "btn btn-primary"%>
			<% end %>
			<%= link_to "Sign up", signup_path, :class => "btn" %><br>
		</div>

		

</div>



