<% provide :title, 'Sign up' %>

<%= render partial: "shared/error_messages" %>

<div class= "well">

  <%= form_for @user, url: users_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br />

    <%= f.label :email %>
    <%= f.text_field :email %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit "Create account" %>
    
  <% end %>

</div>